<h3>Edit Article</h3>

<%= render 'form' %>

<!--<%= link_to 'Show', @bibliographic %> -->
<div class="row"><div class="col-md-8 col-md-offset-2">
  <!--</br><%= link_to 'Back', bibliographics_path %></br></br></br></br></br>-->
</div></div>